@import './assets/css/root.css';
*{
  /* color: var(--white); */
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.icon-global{
  color:var(--gray);
  width:2rem ;
  height:2rem ;
}
.app{
  min-width: 20rem;
  background: var(--bg-primary);
  color: var(--gray);
}
.active {
  background-color: var(--green-40);
  color: var(--green);
  border-right: 5px solid var(--green);

}
.active svg{
  fill: var(--green);
}
